<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="bordered">
        <header id="header">
            <h1>LifeSpot - прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>
        </header>
        <div class="container">
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=Vn28Tk_uuq0"></iframe>
                <p class="video-title">Трансляция Москва</p>
            </div>
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=GSmCh4DrbWY"></iframe>
                <p class="video-title">Трансляция Нью-Йорк</p>
            </div>
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=JplMzss6_YE"></iframe>
                <p class="video-title">Трансляция Лондон</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="form">
                <p>Что ищем?</p>
                <input class="input" type="text" oninput="contentFilter(inputParseFunction)" name="findVideo" />
            </div>
        </div>
        <!--FOOTER-->

    </div>
    <!--SIDEBAR-->
    <!--
    <a href="https://www.youtube.com/watch?v=Vn28Tk_uuq0"><button>Москва</button></a>
    <a href="https://www.youtube.com/watch?v=GSmCh4DrbWY"><button>Нью-Йорк</button></a>
    <a href="https://www.youtube.com/watch?v=JplMzss6_YE"><button>Лондон</button></a>
        -->
    <script src="../Static/js/script.js" type="text/javascript"></script>
    <script>
        let session = new Map();
        //checkAge();
        handleSession();
        sessionLog();
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
        setTimeout(() =>
            alert("Нравится LifeSpot? " + '\n' + "Подпишитесь на наш Instagram @lifespot999!"),
            30000);
    </script>
</body>
</html>