<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <aside id="sidebar">
        <div class="navbar">
            <p>Навигация</p>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Все трансляции</a></li>
                    <li><a href="/">О проекте</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="bordered">
        <header id="header">
            <h1>LifeSpot - прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>
        </header>
        <div class="container">
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=Vn28Tk_uuq0"></iframe>
                <p>Трансляция Москва</p>
            </div>
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=GSmCh4DrbWY"></iframe>
                <p>Трансляция Нью-Йорк</p>
            </div>
            <div class="video_item">
                <iframe src="https://www.youtube.com/watch?v=JplMzss6_YE"></iframe>
                <p>Трансляция Лондон</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="form">
                <p>Что ищем?</p>
                <input class="input" type="text" name="findVideo" />
            </div>
        </div>
            <footer>
                <div class="copyright">
                    © Клычев Мейлис
                </div>
        </div>
        </footer>

        <!--
    <a href="https://www.youtube.com/watch?v=Vn28Tk_uuq0"><button>Москва</button></a>
    <a href="https://www.youtube.com/watch?v=GSmCh4DrbWY"><button>Нью-Йорк</button></a>
    <a href="https://www.youtube.com/watch?v=JplMzss6_YE"><button>Лондон</button></a>
        -->
    </div>
</body>
</html>